!!!
%html
  %head
<<<<<<< HEAD
=======
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.2/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}
>>>>>>> master
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
<<<<<<< HEAD
  %header{class: "header"}
    = #render partial: 'layouts/flash'
    = yield
  %footer
=======
.all
  .flash-box グループを作成
  .wrapper
    .chat-side
      .side-header
        .side-header_box
          a
          .icons
            %i.fas.fa-cog
            %i.fas.fa-edit
      .group group
    .chat-main
      .main-header
        mainheader
        %input.edit-btn{"data-disable-with" => "Send", :type => "submit", :value => "Edit"}
      .message message
      = yield
    %footer
>>>>>>> master

